<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<div class="wrapper">
    <div class="title-text">
        <div class="title login">Login Form</div>
        <div class="title signup">Signup Form</div>
    </div>
    <div class="form-container">
        <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup">Signup</label>
            <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
            <form method="post" th:action="@{/login}" th:object="${user}" class="login">
                <div class="field">
                    <input th:field="*{email}" type="text" placeholder="Email Address" required>
                </div>
                <div class="field">
                    <input th:field="*{password}" type="password" placeholder="Password" required>
                </div>
                <div class="pass-link"><a href="#">Forgot password?</a></div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Login">
                </div>
                <div class="signup-link">Not a member? <a href="">Signup now</a></div>
            </form>
            <form th:action="@{/register}" class="signup" method="post" th:object="${user}">
                <div class="field">
                    <input th:field="*{name}" type="text" placeholder="Enter your name" required>
                </div>
                <div class="field">
                    <input th:field="*{email}" type="text" placeholder="Email Address" required>
                </div>
                <div class="field">
                    <input th:field="*{password}" type="password" placeholder="Password" required>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Signup">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../static/index.js"></script>
</body>
</html>